<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MultiTenantApp</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
