@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tenant: @ViewBag.Tenant</p>
    <p><a href="/Account/Login">Login</a> | <a href="/Account/Register">Register</a></p>
</div>
